extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Matthew Simmons

        p Full Stack JavaScript Developer


        .about-bio

          p Hello!  I hope you're doing well.  I love programming, it's just so much fun.  It's like solving countless little puzzles so you can solve one big puzzle.  I hope that whatever problems (puzzles) you might have for me will allow me to show you my skills.
          p I like to work hard and won't give up until I've finished what I'm working on.  That's my guarantee to you.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li React 

        h6 Contact Info

        ul
          li 386 682 8375
          li matthewsimmonsdev@gmail.com

        a.btn-link(href='') LinkedIn
        a.btn-link(href='https://github.com/MatthewSimmonsDev') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back